* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 109px;
  align-items: center;
}
.header::after {
  content: "";
  position: absolute;
  width: 100vw;
  left: 0;
  top: 110px;
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.363);
  z-index: 0;
}
.header .logo img {
  width: 105px;
}
.header .navbar {
  margin-top: auto;
  display: flex;
  gap: 0 50px;
  height: 52px;
}
.header .navbar ul {
  display: flex;
  gap: 0 50px;
}
.header .navbar ul li a {
  font-size: 1.65rem;
  color: #2C2C2C;
  font-weight: 800;
}
.header .navbar ul li:hover {
  border-bottom: 3px solid #46B20F;
}
.header .navbar ul li:hover a {
  color: #46B20F;
}
.header .navbar ul .active {
  border-bottom: 3px solid #46B20F;
}
.header .navbar ul .active a {
  color: #46B20F;
}
@media screen and (max-width: 992px) {
  .header .navbar ul {
    display: none;
  }
}

.section-1 .row {
  display: flex;
  align-items: center;
  position: relative;
}
.section-1 .row .info h1 {
  font-size: 3.7rem;
  color: #2C2C2C;
}
.section-1 .row .info span {
  display: block;
  font-size: 4.3rem;
  font-weight: 800;
  color: #2C2C2C;
  width: 380px;
  line-height: normal;
  text-transform: uppercase;
}
.section-1 .row .info .text {
  margin-top: 25px;
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 400;
  width: 450px;
}
.section-1 .row .decor .box {
  width: 0.4936305732vw;
  height: 54vw;
  height: 708px;
  width: 775px;
  border-radius: 15px 0 0 15px;
  background: #DCFFCA;
  position: relative;
}
.section-1 .row .decor .box span {
  position: absolute;
  font-size: 16.5rem;
  right: -90px;
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
  font-weight: 800;
  line-height: 100%;
  color: #216000;
  opacity: 0.15;
}
.section-1 .row .decor .box .image {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  left: -12.4203821656vw;
  width: 58vw;
  left: -195px;
}

.section-2 {
  margin-top: 84px;
}
.section-2 .title {
  text-align: center;
}
.section-2 .title h2 {
  margin: 0 auto;
  font-size: 3.2rem;
  width: 558px;
  font-weight: 800;
  line-height: 130%;
}
.section-2 .title p {
  margin: 0 auto;
  margin-top: 24px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 127%;
  width: 600px;
}
.section-2 .content .box-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
}
.section-2 .content .box-content .box-1 {
  width: 295px;
  height: 338px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  background: white;
}
.section-2 .content .box-content .box-1 .number {
  display: block;
  margin-top: 23px;
  font-size: 4.3rem;
  font-weight: 1000;
}
.section-2 .content .box-content .box-1 .text {
  margin-top: 24px;
  font-size: 20px;
  font-weight: 400;
  line-height: 154%;
}
.section-2 .content .box-content .box-1 .icon {
  width: 84px;
  height: 84px;
  border-radius: 10px;
  background: #FFF0E7;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-2 .content .box-content .box-2 {
  width: 343px;
  height: 392px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  background: white;
  padding: 40px 20px;
}
.section-2 .content .box-content .box-2 .number {
  display: block;
  margin-top: 23px;
  font-size: 4.3rem;
  font-weight: 1000;
}
.section-2 .content .box-content .box-2 .text {
  margin-top: 24px;
  font-size: 20px;
  font-weight: 400;
  line-height: 154%;
}
.section-2 .content .box-content .box-2 .icon {
  width: 84px;
  height: 84px;
  border-radius: 10px;
  background: #FFF0E7;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F2FFEC;
}
.section-2 .content .box-content .box-3 {
  width: 295px;
  height: 338px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  background: white;
}
.section-2 .content .box-content .box-3 .number {
  display: block;
  margin-top: 23px;
  font-size: 4.3rem;
  font-weight: 1000;
}
.section-2 .content .box-content .box-3 .text {
  margin-top: 24px;
  font-size: 20px;
  font-weight: 400;
  line-height: 154%;
}
.section-2 .content .box-content .box-3 .icon {
  width: 84px;
  height: 84px;
  border-radius: 10px;
  background: #FFF0E7;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
