$containerWidth: 1200px;
$containerPadding: 15px;
$columnSpace: 20px;
$maxColumn: 12;

$breakpoint: (
    xl: 1200,
    lg: 992,
    md: 768,
    sm: 576,
);

@mixin column ($name: "") {
    @for $i from 1 through $maxColumn {
        $width: calc(100% / $maxColumn * $i);
        $selectorCol: ".col-";
        $selectorOffset: ".offset-";
        @if ($name != "") {
            $selectorCol: $selectorCol + $name + '-';
            $selectorOffset: $selectorOffset + $name + '-';
        }

        #{$selectorCol + $i} {
            flex-basis: $width;
            max-width: $width;
        }

        #{$selectorOffset + $i} {
            margin-left: $width;
        }
    }
}

@mixin margin-top {
    $i: 10;
    @while $i <= 100 {
        $selectorMarginTop: ".mt-";
        #{$selectorMarginTop + $i} {
            margin-top: $i + px;
            }
        $i: $i + 10;
    }
}


@mixin display-none {
    .d-none {
        display: none;
    }
    @each $key, $width in $breakpoint {
        $selectorDisplay: ".d-" + $key + '-none';
        @media screen and (max-width: #{$width}px) {
            #{$selectorDisplay} {
                display: none;
            }
        }
    }
}

@mixin display-block {
    .d-block {
        display: block;
    }
    @each $key, $width in $breakpoint {
        $selectorDisplay: ".d-" + $key + '-block';
        @media screen and (max-width: #{$width}px) {
            #{$selectorDisplay} {
                display: block;
            }
        }
    }
}

.container {
    max-width: $containerWidth;
    margin: auto;
    padding: 0 $containerPadding;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 (0 - $columnSpace/2);
}

[class^="col-"] {
    padding: 0 $columnSpace/2 $columnSpace;
}

@include column();

@each $name, $size in $breakpoint {
    @media screen and (max-width: #{$size}px) {
        @include column($name);
    }
}

@media screen and (min-width: #{$containerWidth+100}) {
    .container {
        padding: 0;
    }
}

@include margin-top();

@include display-none();

@include display-block();

.center {
    display: flex;
    justify-content: center;
}

@each $key, $width in $breakpoint {
    $selectorDisplay: ".center-" + $key;
    @media screen and (max-width: #{$width}px) {
        #{$selectorDisplay} {
            display: flex;
            justify-content: center;
        }
    }
}

