@import '../partials/variables';
@import '../partials/mixins';

// SECTION 1
.section-1 {

    .row {
        display: flex;
        align-items: center;
        // background: rgba($color: #000000, $alpha: .1);
        position: relative;
        .info {
            h1 {
               font-size:  3.7rem;
               color: $colorBlack;
               display: inline-block;
            }
            span {
                display: block;
                font-size: 4.3rem;
                font-weight: 800;
                color: $colorBlack;
                max-width: 380px;
                line-height: normal;
                text-transform: uppercase;
            }
            .text {
                margin-top: 25px;
                font-size: 1.6rem;
                line-height: 2rem;
                font-weight: 400;
                max-width: 450px;
            }
            @media screen and (max-width: 768px){
                width: fit-content;
                margin: auto;
            }
        }

        .decor {
            .box {
                width: #{720/1570*100}vw;
                height: #{708/1570*100}vw;
                max-width: 720px;
                max-height: 708px;
                border-radius: 15px 0 0 15px;
                // width: 58vw;
                // height: 65vw;
                // max-width: 708px;
                // max-height: 775px;
                background: #DCFFCA;
                position: relative;
                @media screen and (max-width: 768px){
                    border-radius: 15px;    
                    left: 50%;
                    transform: translateX(-50%);
                }
                span {
                    position: absolute;
                    font-size: #{165/1570*100}vw;
                    @media screen and (min-width: 1570px) {
                        font-size: 16.5rem;
                        right: -90px;
                    }
                    right: #{-90/1570*100}vw;
                    top: 50%;
                    transform: translateY(-50%) rotate(90deg);
                    font-weight: 800;
                    line-height: 100%;
                    color: #216000;
                    opacity: 0.15;
                    @media screen and (max-width: 768px){
                        
                    }
                }
                .image {
                    top: 50%;
                    transform: translateY(-50%);
                    position: absolute;
                    left: #{-150/1570*100}vw;
                    width: #{500/1570*100}vw;
                    @media screen and (min-width: 1570px) {
                        left: -195px;
                        width: 718px;
                    }
                }
            }
        }
    }
}

// SECTION 2
.section-2 {
    margin-top: 84px;
    .title {
        text-align: center;
        h2 {
            display: block;
            margin: 0 auto;
            font-size: 3.2rem;
            max-width: 558px;
            font-weight: 800;
            line-height: 130%;
        }
        p {
            margin: 0 auto;
            margin-top: 24px;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 127%;
            max-width: 600px;
        }
    }
    .content {
        .box-content {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            position: relative;
            @mixin circle-shape-style {
                width: 235px;
                height: 235px;
                border-radius: 50%;
                position: absolute;
                z-index: -1;
            }
            @mixin box-style {
                box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
                border-radius: 10px;
                padding: 20px;
                background: white;
                .number {
                    display: block  ;
                    margin-top: 23px;
                    font-size: 4.3rem;
                    font-weight: 1000;
                }
                .text {
                    margin-top: 24px;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 154%;
                }
            }
            @mixin icon-style {
                width: 84px;
                height: 84px;
                border-radius: 10px;
                background: $colorOrange100;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .box-1 {
                width: 295px;
                height: 338px;
                @include box-style;
                .icon {
                    @include icon-style;
                }

            }
            .box-2 {
                width: 343px;
                height: 392px;
                @include box-style;
                padding: 40px 20px;
                .icon {
                    @include icon-style;
                    background:$colorGreen100;
                }
            }
            .box-3 {
                width: 295px;
                height: 338px;
                @include box-style;
                .icon {
                    @include icon-style;
                }
            }
            .circle-shape-1 {
                @include circle-shape-style;
                background: $colorGreen100;
                top: -68px;
                left: 10px;
            }
            .circle-shape-2 {
                @include circle-shape-style;
                background: $colorOrange100;
                bottom: -68px;
                right: 10px;
            }
        }
    }
}

//  SECTION 3
.section-3 {
    margin-top: 215px;
    .title {
        text-align: center;
        h2 {
            font-size: 3.2rem;
            font-weight: 800;
        }
    }

    .products {
        .product-1, .product-4 {
            @include product-style;
        }
        .product-2, .product-5{
            @include product-style;
            .image {
                background: $colorGreen300;
                @media screen and (max-width: 992px){
                    background: transparent;
                }
            }
            
        }
        .product-3, .product-6{
            @include product-style;
        }
        
    }
}

// SECTION 4
.section-4 {
    margin-top: 130px;
    .news {
        .title {
            text-align: center;
            h2 {
                font-size: 3.2rem;
                font-weight: 800;
            }
            p {
                margin-top: 23px;
                margin: 0 auto; 
                display: block;
                font-size: 1.6rem;
                font-weight: 400;
                max-width: 655px;
            }
        }
        .news-1 {
            img {
                width: 100%;
            }
            .desc {
                display: flex;
                justify-content: space-between;
                margin-top: 16px;
                .title {
                    color: $colorGreen800;
                    font-size: 1.5rem;
                    font-weight: 500;
                }
                .calendar {
                    img {
                        margin-right: 10px;
                    }
                    display: flex;
                    align-items: center;
                    color: $colorGray500;
                    font-size: 1.5rem;
                    font-weight: 500;
                    align-content: center;
                }
            }
            .heading {
                margin-top: 16px;
                font-size: 2rem;
                font-weight: 600;
            }
            .text {
                margin-top: 16px;
                font-size: 1.6rem;
                font-weight: 400;
            }
        }
    }
    .more {
        margin-top: 80px;
        cursor: pointer;
        a {
            text-align: center;
            margin: 0 auto;
            width: fit-content;
            padding: 12px 22px;
            display: flex;
            justify-content: center;
            border: 1px solid $colorGreen800;
            border-radius: 6px;
            i {
                height: 24px;
            }
        }
    }
}

// SECTION 5
.section-5 {
    .heading {
        margin-top: 100px;
        text-align: center;
        h2 {
            margin: 0 auto;
            max-width: 395px;
            font-size: 3.2rem;
            font-weight: 800;
        }
        p {
            margin: 0 auto;
            margin-top: 24px;
            max-width: 500px;
            font-size: 1.6rem;
            font-weight: 400;
        }
    }
    .content {
        margin-top: 50px;
        background: white;
        border-radius: 6px;
        .image {
            img{
                width: 100%;
            }
        }
        .title {
            padding: 25px 28px;
            height: 165px;
            h3 {
                color: $colorOrange700;
                font-size: 2rem;
                font-weight: 600;
                text-shadow: 0px 3.333px 3.333px rgba(0, 0, 0, 0.25);
            }
            p {
                margin-top: 10px;
                font-size: 1.6rem;
                font-weight: 400;
            }
        }
    }
    .background {
        height: 360px;
        max-width: 100vw;
        background: $colorOrange100;
        position: relative;
        top: -300px;
        z-index: -1;
    }
}

// SECTION 6
.section-6 {
    .content {
        margin-top: -130px;
        @media screen and (max-width: 992px){
            margin-top: 0;
        }
        .box {
            display: flex;
            gap:0 16px;
            justify-content: center;
            .title {
                max-width: 217px;
                h3 {
                    font-size: 2.3rem;
                    font-weight: 600;
                }
                p {
                    margin-top: 6px;
                    font-size: 1.7rem;
                    font-weight: 500;
                }
            }
        }
    }
}

// SECTION 7
.section-7 {
    margin-top: 110px;
    .row {
        display: flex;
        align-items: center;
    }
    .heading {
        max-width: 360px;
        h2 {
            font-size: 2rem;
            font-weight: 600;
        }
    }
    form {
        margin-top: 26px;
        #name {
            @include input-style;
        }
        .email-phone {
            margin-top: 22px;
            display: flex;
            gap: 18px;
            #email {
                @include input-style;
                width: 50%;
            }
            #phone-number {
                @include input-style;
                width: 50%;

            }
        }
        #message {
            margin-top: 22px;
            height: 150px;
            @include input-style;
            resize: none;
        }
        button {
            margin-top: 26px;
            padding: 13px 12px;
            width: 105px;
            background: $colorGreen800;
            color: white;
            font-size: 1.7rem;
            font-weight: 700;
            float: right;
            border-radius: 6px;
            border: none;
        }
    }
}