@import '../partials/variables';

.header {
    display: flex;
    justify-content: space-between;
    height: 109px;
    align-items: center;
    &::after {
        content: "";
        position: absolute;
        width: 100vw;
        left: 0;
        top: 110px;
        box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.363); 
        z-index: 0;
    }
    .logo {
        img {
            width: 105px;
        }
    }

    .navbar {
        margin-top: auto;
        display: flex;
        gap: 0 50px;
        height: 52px;
        
        ul {
            display: flex;
            gap: 0 50px;
            li {
                
                
                a {
                    font-size: 1.65rem;
                    color: $colorBlack;
                    font-weight: 800;
                }
                &:hover {
                    border-bottom: 3px solid $colorGreen;
                    a {
                        color: $colorGreen;
                    }
                }
            }
            .active {
                a {
                    color: $colorGreen;
                }
                border-bottom: 3px solid $colorGreen;
            }
            @media screen and (max-width: 992px) {
                display: none;
            }
        }
    }
}